.pagination {
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    border-radius: 0.6rem;
    border: 1px solid #8C8C8C;
    padding: 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.015em;

    &__btn,
    &__numbers,
    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30px;
        padding: 0 5px;
        cursor: pointer;
    }

    &__btn {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 0.4rem;
        border: 1px solid transparent;

        &:hover {
            color: #57C9B5;
            border-color: #57C9B5;
            transition-duration: 500ms;
        }
    }

    &__dots {
        cursor: initial;
    }

    &__numbers {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 0.4rem;
        border: 1px solid transparent;

        &:hover {
            color: #57C9B5;
            border-color: #57C9B5;
            transition-duration: 500ms;
        }

        &.active {
            color: #ffffff;
            background: #57C9B5;
            font-weight: 600;
            border: 1px solid var(--primary);
        }
    }
}