$color1: #FFF;
$color2: #2594AD;


@import "_buttons.scss";
@import "_howitworks.scss";
@import "_order.scss";
@import "_about.scss";
@import "_questions.scss";

.container{
    margin: 0 auto;
    max-width: 1440px;
    
    font-family: Montserrat;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 6% 10px 3%;
    

    &__ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 65%;
        margin: auto;
         
        &__item {
            
            font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.015em;
            color: #2594AD;
            & a:visited {
                color: #2594AD;    
            }
            padding: 0 7% 0 0;

        }  
    }

}

.top-banner {
    text-align: center;
    padding-top: 147px;

    background-image: url("img/bannerLayer.png");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 642px;

    & h2 {
        margin-bottom: 54px;

        font-family: Montserrat Alternates;
        font-style: normal;
        font-weight: 500;
        font-size: 85px;
        line-height: 70px;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }

    & p {
        margin-bottom: 54px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -0.015em;
        color: #FFFFFF;
    }

    
}

